<div class="header">
    <a href="/"><h3 class="text-muted">홈으로</h3></a>
    {{#name}}
        <div class="form-inline">
            <h5 class="text-primary">[사용자 이름: {{name}}]</h5>
            <a href="/logout"><h5 class="text-muted">[🖱Logout]</h5></a>
        </div>
    {{/name}}
</div>