<div class="footer">
    <p>&copy; made by 박성민</p>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script href="/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>