{{>layout/header}}

<body>
<div class="container">
    {{>layout/bodyHeader}}
    <h1>🧾차량 출고 목록</h1>
    <div>
        <table class="table table-striped">
            <thead> <tr>
                <th>#</th>
                <th>차종</th>
                <th>색상</th>
                <th>차량 번호</th>
                <th>출고 일자</th>
                <th>출고 상태</th>
            </tr>
            </thead>
            <tbody>
            {{#releaseList}}
                <tr>
                        <td>{{id}}</td>
                        <td><a href="/release/find/{{id}}">{{car.model}}</a></td>
                        <td>{{car.color}}</td>
                        <td>{{car.carNumber}}</td>
                        <td>{{formattedReleaseDate}}</td>
                        {{#isStatusReady}}
                            <td class="font-green">{{statusString}}</td>
                        {{/isStatusReady}}
                        {{#isStatusComplete}}
                            <td class="font-blue">{{statusString}}</td>
                        {{/isStatusComplete}}
                        {{#isStatusCancel}}
                            <td class="font-red">{{statusString}}</td>
                        {{/isStatusCancel}}
                </tr>
            {{/releaseList}}
            </tbody>
        </table>
    </div>

{{>layout/footer}}