{{>layout/header}}

<body>
<div class="container">
    {{>layout/bodyHeader}}
    <form>
        <h1>🚘차량 출고</h1>
        <input type="hidden" id="carId" value="{{carId}}"/>
        <div class="form-group">
            <label>차량 번호</label>
            <input type="text" class="form-control" id="carNumber" value="{{carNumber}}" readonly>
        </div>
        <div class="form-group">
            <label>차종</label>
            <input type="text" class="form-control" id="model" value="{{model}}" readonly>
        </div>
        <div class="form-group">
            <label>색상</label>
            <input type="text" class="form-control" id="color" value="{{color}}" readonly>
        </div>
        <div class="form-group">
            <label>담당 직원</label>
            <input type="text" class="form-control" id="staff" placeholder="담당 직원 이름을 입력하세요">
        </div>
        <div class="form-group">
            <label>판매 직원</label>
            <input type="text" class="form-control" id="salesStaff" placeholder="판매 직원 이름을 입력하세요">
        </div>
        <div class="form-group">
            <label>판매 가격</label>
            <input type="text" class="form-control" id="price" placeholder="판매 가격을 입력하세요" onkeyup="numberWithCommas('price')">
        </div>
        <div class="form-group">
            <label>[현금]결제 금액</label>
            <input type="text" class="form-control" id="cash_pay_amount" placeholder="현금 결제 금액을 입력하세요" onkeyup="calculateReleaseAmount('cash_pay_amount')">
        </div>

        <div class="form-group">
            <label>[카드]결제 금액</label>
            <input type="text" class="form-control" id="card_pay_amount" placeholder="카드 결제 금액은 자동으로 계산됩니다." readonly>
        </div>

        <div class="form-group">
            <label>[카드]할부 개월수</label>
            <input type="number" class="form-control" id="instalment" placeholder="할부 개월수를 입력하세요" min="0" value="0">
        </div>
        <div class="form-group">
            <label>[카드]캐피탈</label>
            <input type="text" class="form-control" id="capital" placeholder="캐피탈을 입력하세요">
        </div>

        <a href="/" role="button" class="btn btn-secondary cancel-button">취소</a>
        <button type="button" class="btn btn-primary" id="btn-release">출고 하기</button>
    </form>
    <br/>

{{>layout/footer}}