{{>layout/header}}

<body id="car-find-normal-body">
<div class="container">
    {{>layout/bodyHeader}}
    <h1>출고할 차량 선택</h1>
    <div>
        <table class="table table-striped">
            <thead> <tr>
                <th>#</th>
                <th>차종</th>
                <th>색상</th>
                <th>연식</th>
                <th>담당 직원</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#cars}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{model}}</td>
                    <td>{{color}}</td>
                    <td>{{productionYear}}</td>
                    <td>{{staff}}</td>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-success" onclick="normalRelease('{{id}}', '{{carNumber}}', '{{model}}', '{{color}}');">출고</a>
                    </td>
                </tr>
            {{/cars}}
            </tbody>
        </table>
    </div>

{{>layout/footer}}