{{>layout/header}}

<body>
<div class="container">
    {{>layout/bodyHeader}}
    <form>
        <h1>🚘차량 매입</h1>
        <div class="form-group">
            <label>차량 번호</label>
            <input type="text" class="form-control" id="carNumber" placeholder="차량 번호를 입력하세요">
        </div>
        <div class="form-group">
            <label>차대 번호</label>
            <input type="text" class="form-control" id="vin" placeholder="차대 번호를 입력하세요">
        </div>
        <div class="form-group">
            <label>국산/외제</label>
            <select class="form-control" id="category">
                <option>국산</option>
                <option>외제</option>
            </select>
        </div>
        <div class="form-group">
            <label>차종</label>
            <input type="text" class="form-control" id="model" placeholder="차종을 입력하세요">
        </div>
        <div class="form-group">
            <label>색상</label>
            <input type="text" class="form-control" id="color" placeholder="색상을 입력하세요">
        </div>
        <div class="form-group">
            <label>연식</label>
            <select class="form-control" id="productionYear">
                {{#years}}
                    <option>{{value}}</option>
                {{/years}}
            </select>
        </div>
        <div class="form-group">
            <label>담당 직원</label>
            <input type="text" class="form-control" id="staff" placeholder="담당 직원 이름을 입력하세요">
        </div>
        <a href="/" role="button" class="btn btn-secondary cancel-button">취소</a>
        <button type="button" class="btn btn-primary" id="btn-car-save">매입 하기</button>
    </form>
    <br/>

{{>layout/footer}}