{{>layout/header}}

<body>
<div class="container">
    {{>layout/bodyHeader}}
    <h1>🧾차량 매입 목록</h1>
    <form class="form-inline">
        <div class="form-group mb-2">
            <input type="text" class="form-control" placeholder="차종" id="car-search-model">
        </div>
        <div class="form-group mx-sm-1 mb-2">
            <select class="form-control" id="car-search-status">
                <option value="">출고 상태</option>
                <option value="NORMAL" class="font-green">출고 가능</option>
                <option value="RELEASE" class="font-red">출고 불가</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary mb-2" id="btn-car-search">검색</button>
    </form>
    <div>
        <table class="table table-striped">
            <thead> <tr>
                <th>#</th>
                <th>차종</th>
                <th>색상</th>
                <th>연식</th>
                <th>담당 직원</th>
                <th>출고 상태</th>
            </tr>
            </thead>
            <tbody id="car-find-all-tbody">
            {{#cars}}
                <tr>
                        <td>{{id}}</td>
                        <td><a href="/car/find/{{id}}">{{model}}</a></td>
                        <td>{{color}}</td>
                        <td>{{productionYear}}</td>
                        <td>{{staff}}</td>
                    {{#isReleased}}
                        <td class="font-red">{{status}}</td>
                    {{/isReleased}}
                    {{^isReleased}}
                        <td class="font-green">{{status}}</td>
                    {{/isReleased}}
                </tr>
            {{/cars}}
            </tbody>
        </table>
    </div>

{{>layout/footer}}