{{>layout/header}}

<body>
<div class="container">
    {{>layout/bodyHeader}}
    <form>
        <h1>차량 정보</h1>
        <p>🛠 값 변경 후 [수정] 버튼을 누르면 차량 정보가 수정됩니다.<br>🚗 [출고] 버튼을 누르면 차량 출고 화면으로 이동합니다.</p>
        <div class="form-group">
            <label>차량 번호</label>
            <input type="text" class="form-control" id="carNumber" value="{{car.carNumber}}" readonly>
        </div>
        <div class="form-group">
            <label>차대 번호</label>
            <input type="text" class="form-control" id="vin" value="{{car.vin}}" readonly>
        </div>
        <div class="form-group">
            <label>매입 일자</label>
            <input type="text" class="form-control" id="purchaseDate" value="{{car.purchaseDate}}" readonly>
        </div>
        <div class="form-group">
            <label>출고 상태</label>
            {{#car.isReleased}}
            <input type="text" class="form-control font-red" id="status" value="{{car.status}}" readonly>
            {{/car.isReleased}}
            {{^car.isReleased}}
                <input type="text" class="form-control font-green" id="status" value="{{car.status}}" readonly>
            {{/car.isReleased}}
        </div>
        <div class="form-group">
            <label>국산/외제</label>
            <select class="form-control" id="category">
                {{#category}}
                    <option>{{.}}</option>
                {{/category}}
            </select>
        </div>
        <div class="form-group">
            <label>차종</label>
            <input type="text" class="form-control" id="model" value="{{car.model}}" >
        </div>
        <div class="form-group">
            <label>색상</label>
            <input type="text" class="form-control" id="color" value="{{car.color}}" >
        </div>
        <div class="form-group">
            <label>연식</label>
            <select class="form-control" id="productionYear">
                {{#years}}
                    <option>{{.}}</option>
                {{/years}}
            </select>
        </div>
        <div class="form-group">
            <label>담당 직원</label>
            <input type="text" class="form-control" id="staff" value="{{car.staff}}" >
        </div>
    </form>
    <form action="/release" method="get">
        <input type="hidden" id="id" name="carId" value="{{car.id}}"/>
        <input type="hidden" name="carNumber" value="{{car.carNumber}}"/>
        <input type="hidden" name="carModel" value="{{car.model}}"/>
        <input type="hidden" name="color" value="{{car.color}}"/>
        <a href="/car/findAll" role="button" class="btn btn-secondary cancel-button">뒤로</a>
        <button type="button" class="btn btn-primary" id="btn-car-update">수정</button>
        {{^car.isReleased}}
        <button type="submit" class="btn btn-success">출고</button>
        {{/car.isReleased}}
        <button type="button" class="btn btn-danger" id="btn-car-delete">삭제</button>
    </form>


{{>layout/footer}}